NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_EMAIL_CALLBACK_URL=

NOW_PAYMENTS_API_KEY=
NOW_PAYMENTS_PUBLIC_KEY=
# get this from NOWPayments after deploying your app and set the webhook url to https://your-domain.com/api/payments/webhook
NOW_PAYMENTS_WEBHOOK_SECRET=

# create a cron secret
#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
NOW_PAYMENTS_CRON_SECRET=

NOW_PAYMENTS_SUCCESS_URL=
NOW_PAYMENTS_CANCEL_URL=
NOW_PAYMENTS_FAIL_URL=
